*.o
*.dylib
*.so
*.exe
*.dll
*.lib
darwin/test
darwin/test_timer
.DS_Store
*.sdf
*.opensdf
*.suo
windows/msvc_solution/Debug
windows/msvc_solution/Release
windows/msvc_solution/*/Debug
windows/msvc_solution/*/Release
*.zip
*.swp
*.a
